name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  build:
    strategy:
      matrix:
        platform:
          - { os: "ubuntu-latest", shell: "bash" }
          - { os: "macos-latest", shell: "bash" }
          - { os: "windows-latest", shell: "cmd" }
        python-version: ["3.10", "3.11"]
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    name: Python ${{ matrix.python-version }} (${{ matrix.platform.os }})
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install developer dependencies
        run: python -m pip install -r requirements-dev.txt
      - name: Run nox
        run: nox -p ${{ matrix.python-version }}
      - name: Upload coverage report
        if: ${{ matrix.platform.os == 'ubuntu-latest' && matrix.python-version == '3.10' }}
        uses: codecov/codecov-action@v3
        with:
            files: coverage.xml
            verbose: true
